.notification-title {
  text-align: right;
  margin-bottom: 0.5rem;
}

.notification-title p {
  cursor: pointer;
  background-color: #fff8f8;
  padding: 0.5rem 1rem;
  display: inline-block;
}

.notification-items {
  position: relative;
  border: 2px dashed #e1003c;
  padding: 1rem;
  margin-bottom: 1rem;
}
